.is-sticky-bar {
  position: absolute;
  right: 0;
  bottom: 0%;
  width: 400px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 1000;
}
.sticky-bar-div {
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.is-sticky-bar > div .btn-book-tour {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.is-sticky-bar > div .btn-book-tour a {
  font-family: "Coco Gothic", Sans-Serif;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  line-height: 67px;
  display: block;
  padding: 0 20px;
  margin-bottom: 0;
  background: #fbc91b;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-decoration: none;
}

.is-sticky-bar > div .bloc-duration-meeting {
  padding: 15px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  text-align: center;
  margin: 0 auto;
}

.aligncenter {
  text-align: center;
}

.is-sticky-bar > div .bloc-duration-meeting .btn {
  margin-bottom: 15px;
}

.gtm-event-click-availabilities {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding: 15px 50px;
  border-radius: 4px;
  background-color: #fbc91b;
  font-family: "Coco Gothic", Sans-Serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-color: #fff;
  min-width: 100px;
  text-align: center;
  padding: 11px 25px;
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.bloc-prices {
  padding: 15px 15px 0px 15px;
  font-size: 18px;
}

.early-price {
  color: #000;
}

.early-price-tag {
  color: #0089e9;
  font-size: 2em;
  font-weight: bold;
}

.usual-price {
  color: lightgrey;
  text-decoration: line-through;
  font-size: 18px;
  padding: 0px 0px 20px 15px;
}
