.testimonial-container {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.testimonial-div {
  min-height: 200px;
  background: white;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 20px 20px;
}

.testimonial-title {
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
}

.testimonial-img {
  margin: 0 auto;
  text-align: center;
  width: 100px;
  height: 100px;
}

.testimonial-tag {
  text-align: justify;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 1.1em;
  color: #2c2c2c;
}

.testimonial-tag left {
  margin: 0 auto;
  text-align: left;
}

.p-main-perks_block {
  min-height: 420px;
  background: transparent;
  padding: 40px 0px 40px 0px;
}

.p-main-perks_block h1 {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #0089e9;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  line-height: 1.5;
}

.p-main-perks_block-quotes[data-v-032cbaaa] {
  min-height: 300px;
}

.p-main-perks_block-quotes[data-v-032cbaaa] {
  width: 90%;
  max-width: 910px;
  margin: 0 auto;
}
ol[data-v-032cbaaa],
ul[data-v-032cbaaa] {
  list-style: none;
}

.p-main-perks_block-quotes li {
  min-height: 160px;
  margin-top: 30px;
  margin-bottom: 80px;
}

.c-text_bubble-non_reversed[data-v-6275ac14] {
  left: 0;
}

c-text_bubble[data-v-6275ac14] {
  margin: 0 15px;
}

.c-text_bubble[data-v-6275ac14] {
  position: relative;
}

.c-text_bubble-image[data-v-6275ac14] {
  width: 96px !important;
}

.c-text_bubble-image[data-v-6275ac14] {
  left: 0;
  top: -20px;
}

.c-text_bubble-image[data-v-6275ac14] {
  position: absolute;
  margin-left: 110px;
}

[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

[data-aos][data-aos][data-aos-easing="ease-in-sine"],
body[data-aos-easing="ease-in-sine"] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

[data-aos][data-aos][data-aos-duration="600"],
body[data-aos-duration="600"] [data-aos] {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

.c-text_bubble-description[data-v-6275ac14] {
  width: calc(100% - 140px);
  padding: 15px;
  float: right;
  font-size: 0.8em;
}

.c-text_bubble-description[data-v-6275ac14] {
  position: relative;
  width: 50%;
  margin: 0 160px 0px 0px;
  padding: 30px;
  background: white;
  border-radius: 8px;
  font-weight: normal;
  font-style: italic;
  color: #2c2c2c;
}

[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}

.c-text_bubble-decorator[data-v-6275ac14] {
  top: 15px;
  left: -30px;
}
.c-text_bubble-decorator[data-v-6275ac14] {
  position: absolute;
  left: -37px;
  top: 30px;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 40px solid white;
}

.c-text_bubble-description span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: bold;
}

.c-text_bubble-decorator-right {
  float: right;
}

.testimonial-highlight {
  font-size: 1em !important;
  color: #fbc91b !important;
  font-style: italic !important;
  font-weight: bold;
}

.slide::before {
  background: transparent !important;
}

.testimonial-div .slider-wrapper {
  height: 200px;
}

.testimonial-div .slide {
  height: 200px;
}

.tour-guide-div {
  border-radius: 3px;
  width: 100%;
}

.arrow-prev {
  width: 5%;
  background: white;
  display: inline-block;
  float: left;
  height: 100%;
}

.tour-guide-msg {
  float: left;
  width: 59%;
  padding: 40px 40px;
  display: inline-block;
  background: #0089e9;
  font-size: 1em;
  color: white;
  height: 100%;
  text-align: left;
  font-weight: bold;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  line-height: 1.5;
}

.tour-guide-img {
  width: 31%;
  display: inline-block;
  height: 100%;
  float: left;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.tour-guide-img-small {
  display: none;
}

.p-main-perks_block .bokunButton {
  float: initial;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 150px;
}

/* Iphone 6/7/8 */
@media only screen and (min-width: 320px) and (max-width: 667px) {
  .p-main-perks_block h1 {
    font-size: 36px;
    padding: 0px 40px 0px 40px;
  }

  .tour-guide-img-small {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 90px;
  }

  .c-text_bubble-image[data-v-6275ac14] {
    margin-left: 10px;
  }

  .c-text_bubble-description[data-v-6275ac14] {
    margin-right: 0px;
  }

  .c-text_bubble-description[data-v-6275ac14] {
    width: calc(100% - 140px);
    padding: 15px;
    float: right;
    font-size: 0.8em;
  }

  .c-text_bubble-image[data-v-6275ac14] {
    left: 0;
    top: -20px;
  }

  .explore-more-title {
    font-size: 32px !important;
    margin-left: 20px !important;
  }

  .explore-more-list {
    margin-top: 40px;
  }

  .testimonial-div .slide {
    height: 300px;
  }

  .testimonial-div {
    margin-left: 0px;
    margin-right: 0px;
    height: 300px;
  }

  .testimonial-div .slider-wrapper {
    height: 300px;
  }

  .testimonial-img {
    width: 80px;
    height: 80px;
    padding-top: 0px;
  }

  .testimonial-tag {
    width: 100%;
    font-size: 0.9em !important;
  }

  .arrow-prev {
    width: 10%;
  }

  .tour-guide-msg {
    width: 80%;
    font-size: 14px;
    padding: 20px 10px 10px 20px;
    border-radius: 0px !important;
    height: 100%;
  }

  .tour-guide-img {
    width: 0%;
  }

  .p-main-perks_block {
    height: 620px;
  }

  .p-main-perks_block-quotes li:nth-child(1) {
    min-height: 220px;
  }

  .p-main-perks_block-quotes li:nth-child(2) {
    min-height: 340px;
  }
}

/* Iphone plus */
@media only screen and (min-device-width: 411px) and (max-device-width: 736px) {
  .p-main-perks_block {
    height: 630px !important;
  }

  .p-main-perks_block-quotes li:nth-child(1) {
    min-height: 160px;
  }

  .p-main-perks_block-quotes li:nth-child(2) {
    min-height: 260px;
  }
}

/* Iphone 5/SE */
@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
  .p-main-perks_block {
    height: 660px;
  }
}
