.tour-filter {
  background: #fbc91b;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.tour-filter-div {
  width: 180px;
  display: inline-flex;
  margin-right: 20px;
}

.is-selected {
  padding-top: 2px !important;
  padding-bottom: 3px !important;
}

.Dropdown-arrow {
  top: 20px !important;
}

.filter-description-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background: #fff2af;
  color: black;
  border: 1px solid transparent;
}

.tour-filter-date-div {
  margin-right: 50px !important;
}

.select-car-filter-div {
  width: 150px;
  margin-right: 20px;
}
