body,
html {
  margin: 0px 0px;
  font-family: "Open Sans", sans-serif !important;
  overflow-x: hidden;
}

.l-default-min .l-default-logo {
  cursor: pointer;
  padding: 45px 0 10px;
  margin: 0 0 0 70px;
  height: 25px;
}

.l-default-min .c-header {
  background: #0089e9;
  width: 100%;
  height: 110px;
  display: -webkit-box;
  display: flex;
  position: fixed;
  z-index: 100;
}

.l-default-min .z-index-none {
  z-index: -1 !important;
}

.book-header {
  top: 0px !important;
  left: 0px !important;
}

.l-default-min .c-header-checkout {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#bokun_13a6992a_3165_40e7_96f8_5a4cefedde91 {
  width: 250px;
  padding: 15px 20px;
  background: #fbc91b;
  color: #000;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.l-default-min .c-header-checkout h3 {
  position: absolute;
  right: -300px;
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  top: -30px;
}

.l-default-min .c-header-checkout h3 span {
  color: #fbc91b;
}

iframe {
  width: 100%;
  height: 100vh;
}

.p-tour-jumbotrone {
  background: #fff;
  width: 100%;
  margin-top: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-align: center;
  margin-bottom: 80px;
}

.p-tour-jumbotrone img {
  height: 445px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.p-tour-description {
  max-width: 1000px;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 40px;
}

.tour-description {
  font-size: 0.9em;
  margin-top: 40px;
  text-align: justify;
}

.tour-description-icon {
  width: 100px;
  height: 100px;
}

.p-tour-description h1 {
  margin-top: 35px;
  color: #0089e9;
  font-weight: bold;
  font-size: 50px;
  line-height: 1.5;
}

.p-tour-title {
  width: 240px;
  height: 60px;
  margin: 45px auto 0;
  border-radius: 100px;
  background: #0089e9;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 22px;
}

.p-tour-bonuses {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 1010px;
  margin: 65px auto 0;
}

.p-tour-bonuses-block {
  flex-basis: 20%;
  text-align: center;
}

.p-tour-video_description {
  height: 500px;
  padding-top: 25px;
  position: relative;
  background: #0089e9;
}

.p-tour-video_block {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 680px;
  height: 430px;
}

.p-tour-video_block-iframe_wrap {
  height: 377px;
  overflow: hidden;
  border-radius: 30px;
  border: 3px solid #fff;
}

.p-tour-video_block iframe {
  width: 100%;
  height: 100%;
}

.p-tour-video_block-car {
  position: absolute;
  bottom: -260px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 800px;
}

.p-tour-timeline-mobile {
  display: none;
}

.p-tour-timeline-block {
  background: #fff;
  overflow: hidden;
  padding-top: 200px;
}

.p-tour-title {
  width: 240px;
  height: 60px;
  margin: 45px auto 0;
  border-radius: 100px;
  background: #0089e9;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 22px;
}

.p-tour-description-list {
  height: 100%;
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: white;
  list-style: none;
  margin-top: 80px;
}

.p-tour-description-l {
  flex-basis: 25%;
  margin: 0 auto;
  text-align: center;
}

.p-tour-description-title {
  background: #81b7f9;
  padding: 5px 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
}

.p-tour-description-divider {
  width: 60px;
  border-bottom: 2px solid #81b7f9;
  text-align: center;
  margin: 0 auto;
}

.p-tour-description-p {
  font-weight: bold;
  font-size: 1em;
  color: #6b6d72;
  margin-bottom: 0px;
}

.p-tour-annotation {
  color: #2c2c2c;
  font-weight: normal;
  font-size: 0.7em;
  margin-top: 0px;
}

.p-tour-timeline {
  margin: 0 auto;
  max-width: 1000px;
  height: 200px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.p-tour-timeline-wrap {
  position: relative;
}

.p-tour-timeline-image {
  display: block;
  height: 55px;
}

.p-tour-timeline-block h1 {
  margin: 0 auto;
  margin-top: 35px;
  color: #0089e9;
  font-weight: bold;
  font-size: 50px;
  line-height: 1.5;
  text-align: center;
}

.p-tour-timeline-line {
  height: 0;
  border: 2px solid #0089e9;
  position: absolute;
  left: 70px;
  width: 800px;
}

.p-tour-timeline-text {
  width: 250px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  position: relative;
}

.p-tour-timeline-text:nth-child(2n) p {
  -webkit-box-align: end;
  align-items: flex-end;
}

.p-tour-timeline-text p {
  font-weight: 600;
  height: 72px;
  display: -webkit-box;
  display: flex;
}

.p-tour-timeline-text p {
  font-weight: 600;
}

.p-tour-timeline-text:nth-child(2n) p {
  -webkit-box-align: end;
  align-items: flex-end;
  padding-top: 200px;
}

.p-tour-timeline-text:nth-child(odd) p {
  -webkit-box-align: start;
  align-items: flex-start;
  padding-top: 157px;
}

.p-tour-timeline-text:nth-child(2n):after {
  top: 26%;
}

.p-tour-timeline-text:nth-child(odd):after {
  top: 20%;
}

.p-tour-timeline-text:nth-child(1):after {
  content: "";
  position: absolute;
  top: 50%;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background: url("/assets/img/images/destination/tour_religion_1_small.jpg");
}

.p-tour-timeline-text:nth-child(2):after {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background: url("/assets/img/images/destination/tour_religion_1_small.jpg");
}

.p-tour-timeline-text:nth-child(3):after {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background: url("/assets/img/images/destination/tour_religion_1_small.jpg");
}

.p-tour-timeline-text:nth-child(4):after {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background: url("/assets/img/images/destination/tour_religion_1_small.jpg");
}

.p-tour-timeline-text:nth-child(5):after {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background: url("/assets/img/images/destination/tour_religion_1_small.jpg");
}

.p-tour-timeline-text:nth-child(6):after {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background: url("/assets/img/images/destination/tour_religion_1_small.jpg");
}

.p-tour-timeline-text:nth-child(7):after {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background: url("/assets/img/images/destination/tour_religion_1_small.jpg");
}

.tour-checkout-wrap {
  width: 100%;
  height: 700px;
  background: url("https://i.ibb.co/dfPmKtY/background-singapore.png") no-repeat;
}

.tour-religion {
  margin: 0px 0px;
  min-width: 100%;
  opacity: 0;
}

/* Testimonial */
.tour-intro {
  min-height: 1000px;
  text-align: center;
}

@media only screen and (min-width: 500px) and (max-width: 2400px) {
  .p-tour-timeline-mobile {
    display: none;
  }
}

/* Iphone 6/7/8 */
@media only screen and (min-width: 320px) and (max-width: 667px) {
  .p-tour-destination-p-mobile {
    font-size: 0.9em !important;
    margin-top: 20px;
  }

  .tour-description {
    font-size: 0.8em;
  }

  .p-tour-timeline {
    display: none;
  }

  .p-tour-timeline-mobile {
    display: inline-flex;
    margin-top: 40px;
  }

  .p-tour-timeline-mobile .p-tour-description-l {
    flex-basis: 50%;
    margin-top: 40px;
  }

  .p-tour-timeline-block {
    overflow: initial;
    padding-top: 100px;
  }

  .p-tour-timeline-icon-mobile {
    border-radius: 100%;
  }

  .p-tour-video_block-iframe_wrap {
    height: 250px !important;
  }

  .p-tour-timeline {
    justify-content: left;
  }

  .p-tour-timeline-text {
    width: 50px;
    font-size: 12px;
  }

  .p-tour-timeline-block {
    overflow: initial;
  }

  .p-tour-timeline-block h1 {
    font-size: 36px;
  }

  .p-tour-timeline {
    justify-content: left;
    margin-top: 0px;
  }

  .p-tour-video_block-car {
    width: 370px;
  }

  .p-tour-video_block-iframe_wrap {
    width: 350px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
  }

  .p-tour-video_block {
    height: 150px;
  }

  .p-tour-video_description {
    height: 350px;
  }

  .p-tour-description h1 {
    font-size: 36px;
  }

  .p-tour-description-title {
    font-size: 0.7em;
  }

  .p-tour-description img {
    width: 100px;
    height: 100px;
  }

  .p-tour-description-p {
    font-size: 0.7em;
    font-weight: bold;
  }

  .p-tour-annotation {
    font-size: 0.5em;
  }

  .tour-intro {
    min-height: 1150px;
  }

  .testimonial-tag {
    display: inline-block;
    text-align: justify;
    float: left;
    margin-left: 0px;
    width: 70%;
    font-size: 16px;
  }

  .testimonial-div {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .testimonial-img {
    margin-left: 0px;
    padding-top: 170px;
    margin-right: 5px;
  }

  .p-tour-timeline-line {
    width: 280px !important;
  }
}

/* Iphone plus */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  .testimonial-img {
    padding-top: 150px !important;
  }
}
