.tour-guide-list-section {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}

.tour-guide-list {
  flex-basis: 50%;
}

.tour-guide-l {
  display: flex;
  list-style: none;
}

.tour-guide-l li {
  flex-basis: 33%;
}

.tour-guide-list-img {
  width: 205px;
  height: 296px;
  border-radius: 4px;
}

.tour-guide-list-desc-title {
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #070504;
}

.tour-guide-list-desc {
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #070504;
}

.tour-guide-link {
  text-decoration: none;
}

.tour-guide-link:hover {
  text-decoration: none;
  color: #070504;
}
