body,
html {
  margin: 0px 0px;
  font-family: "Open Sans", sans-serif !important;
  overflow-x: hidden;
}

.l-default-min .l-default-logo {
  cursor: pointer;
  padding: 45px 0 10px;
  margin: 0 0 0 70px;
  height: 25px;
}

.l-default-min .c-header {
  background: #0089e9;
  width: 100%;
  height: 110px;
  display: -webkit-box;
  display: flex;
  position: fixed;
  z-index: 100;
}

.l-default-min .z-index-none {
  z-index: -1 !important;
}

.book-header {
  top: 0px !important;
  left: 0px !important;
}

.l-default-min .c-header-checkout {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#bokun_13a6992a_3165_40e7_96f8_5a4cefedde91 {
  width: 250px;
  padding: 15px 20px;
  background: #fbc91b;
  color: #000;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.l-default-min .c-header-checkout h3 {
  position: absolute;
  right: -300px;
  font-size: 36px;
  color: #fff;
  font-weight: 700;
  top: -30px;
}

.l-default-min .c-header-checkout h3 span {
  color: #fbc91b;
}

/* Video controller */
.mute-div {
  position: absolute;
  top: 100px;
  right: 40px;
}

#mute {
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-size: cover;
  background-image: url("http://image.flaticon.com/icons/svg/10/10776.svg");
}

.mouse {
  width: 28px;
  height: 50px;
  border: 5px solid #fbc91b;
  margin: 0 auto;
  border-radius: 30px;
  position: absolute;
  right: 40px;
  top: 400px;
}

.mouse .mouse-wheel {
  overflow: hidden;
  margin-top: 5px;
}

.mouse .mouse-wheel span {
  display: block;
  margin: 5px auto;
  width: 5px;
  height: 5px;
}

.mouse .mouse-wheel span.wheel {
  border: 3px solid #fbc91b;
  border-radius: 5px;
  width: 0;
}

.mouse .mouse-wheel span.arrow {
  border-bottom: 3px solid #fbc91b;
  border-right: 3px solid #fbc91b;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: scrollDown;
  animation: scrollDown;
  -webkit-animation-duration: 1.7s;
  animation-duration: 1.7s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes scrollDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
  }
  75% {
    opacity: 0;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }
}

@keyframes scrollDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
  }
  75% {
    opacity: 0;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }
}

.p-tour-jumbotrone {
  background: #fff;
  width: 100%;
  margin-top: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  text-align: center;
  margin-bottom: 80px;
}

.p-tour-jumbotrone img {
  height: 445px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.p-tour-description {
  max-width: 1000px;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 40px;
}

.tour-description {
  font-size: 0.9em;
  margin-top: 40px;
  text-align: justify;
}

.tour-description-icon {
  width: 100px;
  height: 100px;
}

.p-tour-description h1 {
  margin-top: 35px;
  color: #0089e9;
  font-weight: bold;
  font-size: 50px;
  line-height: 1.5;
}

.p-tour-title {
  width: 240px;
  height: 60px;
  margin: 45px auto 0;
  border-radius: 100px;
  background: #0089e9;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 22px;
}

.p-tour-bonuses {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 1010px;
  margin: 65px auto 0;
}

.p-tour-bonuses-block {
  flex-basis: 20%;
  text-align: center;
}

.p-tour-video_description {
  height: 500px;
  padding-top: 25px;
  position: relative;
  background: #0089e9;
}

.p-tour-video_block {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 680px;
  height: 430px;
  margin-top: 40px;
}

.p-tour-video_block-iframe_wrap {
  height: 377px;
  overflow: hidden;
  border-radius: 30px;
  border: 3px solid #fff;
}

.p-tour-video_block-iframe_wrap .slider-wrapper .previousButton {
  display: none !important;
}

.p-tour-video_block-iframe_wrap .slider-wrapper .nextButton {
  display: none;
}

.tour-description-slider {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.intro-video {
  width: 100%;
  height: 90%;
  border-radius: 5px;
}

.p-tour-video_block iframe {
  width: 100%;
  height: 100%;
}

.p-tour-video_block-car {
  position: absolute;
  bottom: -260px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 800px;
}

.p-tour-timeline-mobile {
  display: none;
}

.p-tour-timeline-block {
  background: #fff;
  overflow: hidden;
  padding-top: 200px;
}

.p-tour-title {
  width: 240px;
  height: 60px;
  margin: 45px auto 0;
  border-radius: 100px;
  background: #0089e9;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 22px;
}

.p-tour-description-list {
  height: 100%;
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background: white;
  list-style: none;
  margin-top: 80px;
}

.p-tour-description-l {
  flex-basis: 25%;
  margin: 0 auto;
  text-align: center;
}

.p-tour-description-title {
  background: #81b7f9;
  padding: 5px 5px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
}

.p-tour-description-divider {
  width: 60px;
  border-bottom: 2px solid #81b7f9;
  text-align: center;
  margin: 0 auto;
}

.p-tour-description-p {
  font-weight: bold;
  font-size: 1em;
  color: #6b6d72;
  margin-bottom: 0px;
}

.p-tour-annotation {
  color: #2c2c2c;
  font-weight: normal;
  font-size: 0.7em;
  margin-top: 0px;
}

.p-tour-timeline {
  margin: 0 auto;
  max-width: 1000px;
  height: 200px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

.p-tour-timeline-wrap {
  position: relative;
}

.p-tour-timeline-image {
  display: block;
  height: 55px;
}

.p-tour-timeline-block h1 {
  margin: 0 auto;
  margin-top: 70px;
  color: #0089e9;
  font-weight: bold;
  font-size: 50px;
  line-height: 1.5;
  text-align: center;
}

.p-tour-timeline-line {
  height: 0;
  border: 2px solid #0089e9;
  position: absolute;
  left: 70px;
  width: 800px;
}

.p-tour-timeline-text {
  width: 250px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  position: relative;
}

.p-tour-timeline-text:nth-child(2n) p {
  -webkit-box-align: end;
  align-items: flex-end;
}

.p-tour-timeline-text p {
  font-weight: 600;
  height: 72px;
  display: -webkit-box;
  display: flex;
}

.p-tour-timeline-text p {
  font-weight: 600;
}

.p-tour-timeline-text:nth-child(2n) p {
  -webkit-box-align: end;
  align-items: flex-end;
  padding-top: 200px;
}

.p-tour-timeline-text:nth-child(odd) p {
  -webkit-box-align: start;
  align-items: flex-start;
  padding-top: 157px;
}

.p-tour-timeline-text:nth-child(2n):after {
  top: 26%;
}

.p-tour-timeline-text:nth-child(odd):after {
  top: 20%;
}

.p-tour-timeline-text:nth-child(1):after {
  content: "";
  position: absolute;
  top: 50%;
  width: 112px;
  height: 110px;
  border-radius: 100%;
  border: 2px solid transparent;
  background: url("/assets/img/images/destination/little_india.png");
}

.p-tour-timeline-text:nth-child(2):after {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background: url("/assets/img/images/destination/little_india.png");
  box-shadow: 0 0 0 3px #fff;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}

.p-tour-timeline-text:nth-child(2):hover:after {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 0 5px #0089e9;
  color: #0089e9;
}

.p-tour-timeline-text:nth-child(3):after {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background: url("/assets/img/images/destination/kampong.png");
}

.p-tour-timeline-text:nth-child(3):hover:after {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 0 5px #0089e9;
  color: #0089e9;
}

.p-tour-timeline-text:nth-child(4):after {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background: url("/assets/img/images/destination/waterloo_street.png");
}

.p-tour-timeline-text:nth-child(4):hover:after {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 0 5px #0089e9;
  color: #0089e9;
}

.p-tour-timeline-text:nth-child(5):after {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background: url("/assets/img/images/destination/city_hall.png");
}

.p-tour-timeline-text:nth-child(5):hover:after {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 0 5px #0089e9;
  color: #0089e9;
}

.p-tour-timeline-text:nth-child(6):after {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background: url("/assets/img/images/destination/chinatown.png");
}

.p-tour-timeline-text:nth-child(6):hover:after {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 0 5px #0089e9;
  color: #0089e9;
}

.p-tour-timeline-text:nth-child(7):after {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background: url("/assets/img/images/destination/tour_religion_1_small.jpg");
}

.p-tour-timeline-text:nth-child(7):hover:after {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 0 0 5px #0089e9;
  color: #0089e9;
}

.tour-checkout-wrap {
  height: 700px;
  background: url("https://i.ibb.co/dfPmKtY/background-singapore.png") no-repeat;
  background-size: cover;
}

.tour-religion {
  margin: 0px 0px;
  min-width: 100%;
}

/* Testimonial */
.tour-intro {
  min-height: 1000px;
  text-align: center;
}

.intro-video-wrapper:hover + .video-control {
  opacity: 0.8;
}

.video-control {
  font-size: 4em;
  opacity: 0;
  transition: opacity 0.3s;
  color: #fbc91b;
  text-align: center;
}
.video-control:hover {
  opacity: 1;
}
.video-control:before,
.video-control:after {
  position: absolute;
  width: 1em;
  height: 1em;
  top: 50%;
  left: 50%;
  margin: -0.5em 0 0 -0.5em;
}
.video-control:before {
  content: "\25BA";
}
.video-control:after {
  content: "ll";
  font-weight: 700;
}
.video-control.paused:after {
  opacity: 0;
}
.video-control.playing:before {
  opacity: 0;
}

@media only screen and (min-width: 500px) and (max-width: 2400px) {
  .p-tour-timeline-mobile {
    display: none;
  }
}

/* Iphone 6/7/8 */
@media only screen and (min-width: 320px) and (max-width: 667px) {
  .intro-video-wrapper {
    margin-top: 80px;
  }

  .intro-video {
    width: 100%;
    height: 250px;
    border-radius: 5px !important;
  }

  .mouse {
    display: none;
  }

  #mute {
    top: 120px;
  }

  .close-video {
    position: absolute;
    right: 10px !important;
    top: 150px !important;
  }

  .p-tour-destination-p-mobile {
    font-size: 0.9em !important;
    margin-top: 20px;
  }

  .tour-video-image-control:before {
    top: 70%;
  }

  .tour-description {
    font-size: 0.8em;
  }

  .p-tour-timeline {
    display: none;
  }

  .p-tour-timeline-mobile {
    display: inline-flex;
    margin-top: 40px;
  }

  .p-tour-timeline-mobile .p-tour-description-l {
    flex-basis: 50%;
    margin-top: 40px;
  }

  .p-tour-timeline-block {
    overflow: initial;
    padding-top: 100px;
  }

  .p-tour-timeline-icon-mobile {
    border-radius: 100%;
  }

  .p-tour-timeline {
    justify-content: left;
  }

  .p-tour-timeline-text {
    width: 50px;
    font-size: 12px;
  }

  .p-tour-timeline-block {
    overflow: initial;
  }

  .p-tour-timeline-block h1 {
    font-size: 36px;
  }

  .p-tour-timeline {
    justify-content: left;
    margin-top: 0px;
  }

  .p-tour-video_block-car {
    width: 370px;
  }

  .p-tour-video_block-iframe_wrap {
    width: 350px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
  }

  .tour-description-slider {
    background-size: cover !important;
  }

  .p-tour-video_block {
    height: 150px;
  }

  .p-tour-video_description {
    height: 350px;
  }

  .p-tour-description h1 {
    font-size: 36px;
  }

  .p-tour-description-title {
    font-size: 0.7em;
  }

  .p-tour-description img {
    width: 100px;
    height: 100px;
  }

  .p-tour-description-p {
    font-size: 0.7em;
    font-weight: bold;
  }

  .p-tour-annotation {
    font-size: 0.5em;
  }

  .tour-intro {
    min-height: 1150px;
  }

  .testimonial-tag {
    display: inline-block;
    text-align: justify;
    float: left;
    margin-left: 0px;
    width: 70%;
    font-size: 16px;
  }

  .testimonial-div {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .testimonial-img {
    margin-left: 0px;
    padding-top: 170px;
    margin-right: 5px;
  }

  .p-tour-timeline-line {
    width: 280px !important;
  }
}

/* Iphone plus */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  .testimonial-img {
    padding-top: 150px !important;
  }
}
