.drop-down {
}

.term-section {
  background: url("/assets/img/images/background-singapore.png") no-repeat;
  background-size: cover;
  min-height: 1600px;
  margin-bottom: 0px !important;
}

.drop-down-title {
  color: #fbc91b !important;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 150px;
  padding-bottom: 80px;
  font-size: 3em !important;
  letter-spacing: 1px;
}

.Collapsible {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid #fbc91b;
}

.Collapsible span {
  color: white;
  transition: 0.3s;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 20px 0;
  position: relative;
  font-size: 1.5em;
  cursor: pointer;
  width: 100%;
  display: block;
}

.Collapsible span:after {
  content: "";
  background: url("/assets/img/images/icon_plus.svg") center no-repeat;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  right: 0;
}

.is-open:after {
  background: url("/assets/img/images/icon_minus.svg") center no-repeat !important;
}

.c-text_bubble[data-v-fea2610c] {
  position: relative;
}

.c-text_bubble-image[data-v-fea2610c] {
  width: 96px !important;
}
.c-text_bubble-image[data-v-fea2610c] {
  position: absolute;
  left: 30px;
}

.c-text_bubble-description[data-v-fea2610c] {
  position: relative;
  width: 70%;
  margin: 0 auto 30px;
  margin-top: 20px;
  padding: 30px;
  background: white;
  border-radius: 8px;
  font-weight: normal;
  font-style: italic;
  color: #2c2c2c;
  text-align: justify !important;
  padding-left: 40px;
  margin-left: 180px;
}

.c-text_bubble-decorator[data-v-fea2610c] {
  position: absolute !important;
  left: -37px !important;
  top: 30px !important;
  width: 0 !important;
  height: 0 !important;
  border-top: 0px solid transparent !important;
  border-bottom: 15px solid transparent !important;
  border-right: 40px solid white !important;
  padding: 0px 0px !important;
}

.answer[data-v-fea2610c] {
  line-height: 1.5;
  margin: 0 auto;
  color: black !important;
  font-size: 16px !important;
  text-align: justify !important;
}

.c-text_bubble-decorator:after {
  display: none !important;
}

.answer:after {
  display: none !important;
}

/* Iphone 6/7/8 */
@media only screen and (min-device-width: 275px) and (max-device-width: 667px) {
  .term-section {
    min-height: 1800px;
    background: #0079e1;
  }

  .answer {
    color: black !important;
    font-weight: bold;
    background: white;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px white solid;
    margin-top: 10px;
    font-size: 1.1em;
    margin-bottom: 10px;
  }

  .Collapsible {
    width: 80%;
    text-align: left !important;
  }

  .Collapsible span {
    text-align: left !important;
  }
}

/* Ipad */
@media only screen and (max-width: 1100px) and (min-width: 668px) {
  .bokunButton {
    width: 200px !important;
  }

  .term-section {
    min-height: 1500px;
    background: #0079e1;
  }

  .answer {
    color: black !important;
    font-weight: bold;
    background: white;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px white solid;
    margin-top: 10px;
    font-size: 1.1em;
    margin-bottom: 10px;
    text-align: justify;
  }

  .Collapsible {
    width: 80%;
  }
}
