.c-footer[data-v-cedeba38] {
  height: 270px;
  background: linear-gradient(to bottom, #b3b3b3 -200%, #2a2a2a 100%);
}

.c-footer-wrap[data-v-cedeba38] {
  margin: 0 auto;
  padding: 0 75px;
}

.c-footer-logo_block[data-v-cedeba38] {
  padding-top: 40px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  text-align: left;
}

.c-footer-logo[data-v-cedeba38] {
  display: block;
  width: 260px;
}

.c-footer-slogan[data-v-cedeba38] {
  margin-left: 20px;
  display: block;
  text-align: center;
  font-style: italic;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.c-footer-info[data-v-cedeba38] {
  margin-top: 35px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.c-footer-info-block[data-v-cedeba38]:first-child {
  flex-basis: 40%;
}

.c-footer-info-block[data-v-cedeba38] {
  flex-basis: 20%;
  line-height: 21px;
  text-align: left;
}

.c-footer-info-block h4[data-v-cedeba38] {
  color: #fbc91b;
  margin: 0 auto 10px;
  font-weight: 600;
  font-size: 18px;
}

.c-footer-info-block a[data-v-cedeba38],
.c-footer-info-block p[data-v-cedeba38] {
  color: #fff;
  text-decoration: none;
}

.c-footer-info-block[data-v-cedeba38] {
  flex-basis: 20%;
  line-height: 21px;
  text-align: left;
}

.c-footer-info-block h4[data-v-cedeba38] {
  color: #fbc91b;
  margin: 0 auto 10px;
  font-weight: 600;
  font-size: 18px;
}

ol[data-v-cedeba38],
ul[data-v-cedeba38] {
  list-style: none;
}

.c-footer-info-block li {
  position: relative;
  padding: 3px 0 0 25px;
}

.c-footer-info-block li[data-v-cedeba38] {
  position: relative;
  padding: 3px 0 0 25px;
}

.c-footer-info-block[data-v-cedeba38]:nth-child(3) {
  flex-basis: 15%;
}

.c-footer-info-block h4[data-v-cedeba38] {
  color: #fbc91b;
  margin: 0 auto 10px;
  font-weight: 600;
  font-size: 18px;
}

.c-footer-info-block li[data-v-cedeba38] {
  position: relative;
  padding: 3px 0 0 25px;
}

.c-footer-info-block[data-v-cedeba38]:nth-child(4) {
  flex-basis: 10%;
}

.c-footer-info-block[data-v-cedeba38] {
  flex-basis: 20%;
  line-height: 21px;
  text-align: left;
}

.c-footer-info-block:nth-child(4) ul[data-v-cedeba38] {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

ol[data-v-cedeba38],
ul[data-v-cedeba38] {
  list-style: none;
}

.c-footer-info-block:nth-child(4) li[data-v-cedeba38] {
  padding: 0;
  margin-left: 0;
}

.c-footer-info-block li[data-v-cedeba38] {
  position: relative;
  padding: 3px 0 0 25px;
}

.c-footer-social {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  display: block;
  margin-top: 40px;
}

.footer-img {
  width: 40px;
  height: 40px;
}

.footer-icon {
  color: #fbc91b;
  font-size: 24px;
  margin-right: 10px;
}

.terms-and-conditions-footer {
  flex-basis: 20% !important;
}

/* Large screen */
@media only screen and (min-width: 1200px) and (max-width: 1799px) {
  .footer-icon-list {
    margin-top: -20px;
  }
}

/* Smaller screen - ipad */
@media only screen and (min-width: 415px) and (max-width: 1023px) {
  .c-footer[data-v-cedeba38] {
    height: 450px;
  }

  .c-footer-contact_link {
    width: 300px;
  }

  .c-footer-info-list {
    padding-left: 0px;
  }

  .c-footer-contact_link-div {
    width: 200px;
  }

  .c-footer-tour-description {
    width: 120px;
  }
}

/* Smaller screen - ipad pro */
@media only screen and (min-width: 1023px) and (max-width: 1200px) {
  .c-footer[data-v-cedeba38] {
    height: 700px;
  }
}

/* Iphone 6/7/8 */
@media only screen and (min-width: 320px) and (max-width: 667px) {
  .c-footer[data-v-cedeba38] {
    height: 570px;
  }

  .c-footer-wrap[data-v-cedeba38] {
    padding: 0px 0px !important;
  }

  .c-footer-logo_block[data-v-cedeba38] {
    padding-top: 40px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
    flex-direction: column;
    align-items: flex-start !important;
  }

  .c-footer-logo[data-v-cedeba38] {
    padding: 0px 20px 10px 20px;
  }

  .c-footer-info[data-v-cedeba38] {
    flex-direction: column;
  }

  .c-footer-block-links ul {
    padding-left: 0px;
  }

  .c-footer-info-block {
    padding-left: 20px;
  }

  .c-footer-block-links {
    padding-left: 0px !important;
    text-decoration: underline;
  }

  .footer-icon {
    padding-left: 0px;
    text-align: center !important;
    margin: 0 auto !important;
    padding-right: 10px;
  }

  .footer-icon-list {
    padding-left: 0px;
    text-align: center;
    margin: 0 auto;
    justify-content: flex-start !important;
  }

  .c-footer-tour-description {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 415px) and (max-width: 570px) {
  .c-footer[data-v-cedeba38] {
    height: 650px;
  }
}
