/* Navbar */
.navbar {
  background: #ffffff;
  background-size: cover;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.logo-navbar {
  height: 30px;
}

.nav-links {
  text-decoration: none;
  color: #000000;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 500;
}

.signin-btn {
  font-size: 16px;
  font-family: Ubuntu;
  padding: 10px 15px 10px 15px;
  background: #fbc91b;
  border: 1px solid transparent;
  margin-left: 40px;
  font-weight: 500;
}

.signin-item {
  padding-top: 0px !important;
}

.nav-links:hover {
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px #fbc91b solid;
  cursor: pointer;
  color: #000000;
}

.nav-links-active {
  color: #fbc91b;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 2px #fbc91b solid;
}

.main-nav li {
  margin: 0px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

.mobile-nav {
  display: block !important;
}

.l-tour-logo {
  margin: 0 auto;
  display: block;
  padding: 0px 0px 0px 40px;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-nav {
    display: flex !important;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
    padding-top: 10px;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }
}

/* Large screen */
@media only screen and (min-width: 1199px) {
  .main-nav {
    margin-top: 10px;
  }
}

/* Iphone 6/7/8 */
@media only screen and (min-width: 320px) and (max-width: 667px) {
  .navbar {
    background: #ffffff;
  }

  .logo {
    width: 100px;
  }

  .main-nav {
    background: #ffffff;
    margin-top: 0px;
    width: 101%;
    position: absolute;
    top: 0;
    margin-left: -1px;
    height: 140px;
  }
  .nav-links {
    font-weight: bold;
  }

  .nav-links:hover {
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px #fbc91b solid;
    cursor: pointer;
  }

  .navbar-about {
    height: 60px !important;
  }

  .main-nav li {
    padding: 10px 0px 10px 0px;
  }

  .main-nav li a {
    margin-right: 10px;
  }

  .l-tour-logo {
    width: 120px;
    padding: 0px 0px 0px 0px;
  }

  .logo-navbar {
    height: 40px;
  }

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
  }

  .close:hover {
    opacity: 1.2;
  }

  .close:before,
  .close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: white;
    color: white;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
}

/* Iphone plus */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  .main-nav li a {
    margin-right: 20px;
  }
}

/* Smaller screen - ipad */
@media only screen and (min-width: 668px) and (max-width: 1100px) {
  .l-tour-logo {
    padding-left: 0px;
  }

  .main-nav li {
    padding-top: 5px;
  }
}

/* Ipad pro */
@media only screen and (min-width: 1024px) and (max-width: 1100px) {
}

/* Super large screen */
@media only screen and (min-width: 1799px) {
}
