body {
  line-height: initial !important;
}

.main-video {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1000;
  height: 100%;
  object-fit: cover;
}

.travel-div {
  margin-top: 20px;
  text-align: center;
}

.welcome-area {
  opacity: 0;
}

.fade-in {
  opacity: 1 !important;
  transition: opacity 0.7s 0.1s;
}

.welcome-area p {
  color: #fff;
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.homepage-title-container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.p-index-button_block {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
  margin-top: 20px;
  z-index: 1000;
}

.p-index-button:hover {
  text-decoration: none;
}

.active-home-link:hover {
  background: white !important;
  cursor: pointer;
  border-color: transparent !important;
}

.p-index-button_block .p-index-button {
  display: block;
  flex-basis: 30%;
  height: 50px;
  border: 3px solid #fbc91b;
  background: #fbc91b;
  color: #000 !important;
  font-weight: 600;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 1.3em;
  padding-top: 7px;
}

.ui-button {
  height: 56px;
  width: 100%;
  margin: 15px;
  background: #fbc91b;
  border: none;
  border-radius: 100px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.p-index-car {
  position: absolute;
  top: 295px;
  left: -650px;
  -webkit-transition: 1.7s;
  transition: 1.7s;
  z-index: 0;
}

.p-index-car.car-move-right {
  transform: translate(3000px, 0);
  -webkit-transform: translate(3000px, 0); /** Chrome & Safari **/
  -o-transform: translate(3000px, 0); /** Opera **/
  -moz-transform: translate(3000px, 0);
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
  -moz-transition: all 2s ease-in-out; /** Firefox **/
  -o-transition: all 2s ease-in-out; /** Opera **/
}

.travel-div.fade-out {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}

.l-default-logo {
  margin: 0 auto;
  display: block;
  padding: 60px 0px 0px 0px;
  width: 300px;
}

.ui-button-transparent a {
  color: black;
}

.ui-button-transparent a:hover {
  color: white;
  text-decoration: none;
}

/* Title */
.homepage-title-view-left {
  text-align: left;
}

.homepage-title-view-right {
  text-align: right;
}

.homepage-title-big {
  color: white;
  font-weight: 800;
}

.small-tag {
  color: #0089e9;
  font-size: 0.8em;
}

/* Smaller screen - ipad */
@media only screen and (min-width: 415px) and (max-width: 1199px) {
  .homepage-title-big {
    font-size: 6.2em !important;
    letter-spacing: 0.1em;
  }

  .homepage-title-view-right {
    text-align: center;
  }

  .homepage-title-view-left {
    padding-left: 0px;
    text-align: center;
    margin-top: 120px !important;
  }

  .p-index-button_block .p-index-button {
    flex-basis: 55%;
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    height: 80px;
  }

  .p-index-button-no-right {
    margin-bottom: 20px !important;
  }

  .main-video {
    object-fit: fill !important;
    width: 1000px !important;
    max-width: 1199px !important;
  }
}

/* Large screen */
@media only screen and (min-width: 1200px) and (max-width: 2400px) {
  .main-video {
    object-fit: fill !important;
  }
  .homepage-title-view-left {
    padding-left: 250px;
    font-size: 2.5em !important;
    font-weight: lighter !important;
    margin-top: 80px !important;
  }

  .homepage-title-view-right {
    padding-right: 300px;
    font-size: 2.5em !important;
    font-weight: lighter !important;
  }

  .homepage-title-big {
    font-size: 7em !important;
  }

  .p-index-button-no-right {
    margin-right: 0px !important;
  }

  .p-index-button-no-left {
    margin-left: 20px !important;
  }
}

/* Iphone X */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .homepage-title-container {
    margin-top: 40px;
  }

  .homepage-excited-block {
    margin-bottom: 40px;
  }

  .homepage-title-big {
    font-size: 3.5em !important;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2400px) {
  .main-video {
    width: 1800px;
  }
}

/* Iphone 6/7/8 */
@media only screen and (min-width: 320px) and (max-width: 414px) {
  .main-video {
    max-width: 414px;
  }

  .l-default-logo {
    width: 200px;
  }

  .travel-div {
    margin-top: 100px;
  }

  .welcome-area {
    height: 600px !important;
  }

  .p-index-button_block .p-index-button {
    flex-basis: 60%;
    font-size: 0.9em !important;
    height: 50px !important;
    padding-top: 10px;
  }

  .homepage-title-big {
    font-size: 3em !important;
    width: 50%;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
  }

  .p-index-car {
    width: 300px;
    position: absolute;
    top: 550px;
    left: -200px;
  }

  .l-default-slogan {
    font-size: 14px;
  }

  .homepage-title-view-left {
    text-align: center;
    padding-left: 0px;
    font-size: 2.3em !important;
  }

  .homepage-title-view-right {
    font-size: 2.3em !important;
    text-align: left;
    display: inline-block;
    margin-left: 20px;
    padding-top: 13px !important;
  }

  .homepage-excited-block {
    margin-bottom: 40px;
  }

  .p-index-button-no-right {
    margin-bottom: 20px !important;
  }
}

/* Very large screen */
@media only screen and (min-width: 1200px) and (max-width: 1799px) {
  .main-video {
    width: 1500px;
    object-fit: fill !important;
  }
}

/* Iphone 5/SE */
@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
  .welcome-area {
    height: 550px !important;
  }

  .homepage-title-big {
    font-size: 2.5em !important;
    margin-left: 0px;
    margin-right: 5px;
  }

  .homepage-title-view-right {
    margin-left: 0px;
    font-size: 2em !important;
    padding-top: 11px !important;
    padding-left: 10px;
  }

  .homepage-title-view-left {
    font-size: 2em !important;
  }
}

/* Pixel XL */
@media only screen and (min-device-width: 411px) and (max-device-width: 413px) {
  .homepage-title-big {
    margin-left: 20px;
  }

  .homepage-title-view-right {
    margin-left: -10px;
  }
}

/* Iphone plus */
@media only screen and (min-device-width: 414px) and (max-device-width: 420px) {
  .homepage-title-big {
    margin-left: 22px;
  }

  .homepage-title-view-right {
    margin-left: -5px;
  }
}
