.under-construction-section {
  background: #0089e9;
  object-fit: fill;
  background-repeat: no-repeat;
  height: 100%;
  bottom: 0px;
  width: 100%;
}

.under-construction span {
  letter-spacing: 0.5em;
  color: #ffffff;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: lighter;
}

.smaller-travel-div p {
  font-size: 32px;
}

.smaller-travel-div h4 {
  font-size: 44px;
}

.w3-light-grey {
  width: 40% !important;
  margin: 0 auto;
  text-align: center;
  padding: 8px 8px;
  background: #d4dfec !important;
}

.w3-blue {
  background: white !important;
  opacity: 2;
  height: 17px;
}

.under-construction-button {
  flex-basis: 15% !important;
}

.coming-soon-title {
  color: white;
  font-weight: bold;
}

.under-construction-travel {
  margin-top: 120px;
}

.preview-tour-tagline {
  font-weight: bold;
  margin-top: 20px;
  color: #f9c647;
  text-decoration: underline;
}

/* Large screen */
@media only screen and (min-width: 1200px) and (max-width: 1799px) {
  .under-construction-section {
    background-image: url("/assets/img/images/background_desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    bottom: 0px;
    position: absolute;
    width: 100%;
  }

  .preview-tour-tagline {
    font-size: 1.5em;
  }
}

/* Iphone 6/7/8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .under-construction-section {
    background-image: url("/assets/img/images/background_iphone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0px;
    width: 100%;
  }

  .smaller-travel-div h4 {
    font-size: 32px !important;
  }

  .w3-light-grey {
    width: 75% !important;
    margin-top: 10px;
    padding: 4px 4px !important;
  }

  .w3-blue {
    height: 15px !important;
  }

  .preview-tour-tagline {
    font-size: 16px;
  }

  .under-construction-button {
    flex-basis: 40% !important;
  }
}

/* iphone X */
@media only screen and (min-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .smaller-travel-div h4 {
    font-size: 36px !important;
    font-stretch: expanded !important;
  }

  .w3-light-grey {
    width: 85% !important;
    margin-top: 10px;
    padding: 5px 5px !important;
  }

  .w3-blue {
    height: 16px !important;
  }
}
